*{
padding: 0;
margin: 0;
}
:root {
    --cor-nav-bar: #242323;
    --cor-primaria: #ffff;
}

nav {
    padding: 8px;
    background-color: var(--cor-nav-bar);
}
nav ul li {
    display: inline-block;
    padding: 8px;
    color: var(--cor-primaria);
    list-style: none;
    position: relative;
}
nav ul li:hover {
    background-color: #757474;
    cursor: pointer;
}
nav ul li a {
    color: var(--cor-primaria);
    text-decoration: none;
}

nav .submenu .dropdown {
    display: none;
}
nav .submenu:hover .dropdown {
    display: block;
    position: absolute;
    top: 25px;
    left: 0;
    background-color: #573a3a;
    padding: 8px;
    width: 150px;
}

header {
    text-align: center;
    color: var(--cor-primaria);
    background-color: var(--cor-nav-bar);
}
header h2{
    padding-top: 5px;
    font-family: cursive;
}
header p{
    padding: 10px;
    font-family: cursive;
}

.container {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
padding: 10px;

}
.box-wrap {
    
    width: 350px;
    padding: 10px;
    font-size: 18px;
    text-align: center;
}
.box-wrap a{
    text-decoration: none;
    color: #242323;
}
.image-wrap {
    width: 300px;
}



/*Media Querry do menu*/

@media screen and (min-width:200px) and (max-width: 600px){
    nav{
        display: none;
    }
    #mobile-btn{
        display: block;
        padding: 5px;
    }
    #menu-mobile {
    background-color: var(--cor-nav-bar);
    padding: 8px;
    display: none;
    }
    #menu-mobile ul li {
    padding: 5px;
    list-style: none;
    }
    #menu-mobile ul li a {
        color: var(--cor-primaria);
        text-decoration: none;
    }
}
@media screen and (min-width: 600px) and (max-width: 768px){
    nav{
        display: none;
    }
    #mobile-btn{
        padding: 5px;
    }
    #menu-mobile {
    background-color: var(--cor-nav-bar);
    padding: 8px;
    display: none;
    }
    #menu-mobile ul li {
    padding: 5px;
    list-style: none;
    }
    #menu-mobile ul li a {
        color: var(--cor-primaria);
        text-decoration: none;
    }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
    #mobile-btn{
        display: none;
    }
    nav{
    display: block;
    }
}
@media screen and (min-width: 800px ) and (max-width: 1378px) {
    #mobile-btn{
    display:none;
    }
    #menu-mobile{
        display: none;
    }
    nav{
     display: block;   
    }
}


#cookie-message {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f8f8f8;
    padding: 20px;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.1);
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #cookie-message p {
    margin: 0;
  }
  
  #cookie-message a {
    color: #4a90e2;
  }
  
  #accept-cookies {
    background-color: #4a90e2;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  #accept-cookies:hover {
    background-color: #1c6bb1;
  }